<div class="main-container">
  <div class="cards-row">
    <div class="card">
      <mat-card class="register-card">
        <h2>Mobile App Development</h2>
        <img mat-card-image src="assets/hector-martinez-EG49vTtKdvI-unsplash.jpg" height="200px">
        <mat-card-header>
          <!-- <div mat-card-avatar class="register-header-image"></div> -->
        </mat-card-header>
        <mat-card-content>
          <h2>Learn Flutter</h2>
          <p>
            Learn to develop mobile apps using Flutter - The latest framework for mobile app development backed by
            Google. Target both iOS and Android from a single code base.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>Find Out More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="register-card">
        <h2>REST API Backend</h2>
        <img mat-card-image src="assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" height="200px">
        <mat-card-header>
          <!-- <div mat-card-avatar class="register-header-image"></div> -->
        </mat-card-header>
        <mat-card-content>
          <h2>Learn Java and Spring Boot</h2>
            <p>
              Develop Supporting backend REST Application Programming Interfaces using Java 8 and Springboot as well as
              Python and the Django REST Framework
            </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>Find Out More</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="register-card">
        <h2>Deploy to AWS using Docker</h2>
        <img mat-card-image src="assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" height="200px">
        <mat-card-header>
          <!-- <div mat-card-avatar class="register-header-image"></div> -->
        </mat-card-header>
      <mat-card-content>
        <h2>Cloud Computing with AWS</h2>
          <p>
            Learn to use technologies such as Amazon Lex, a service for building conversational interfaces into
            any application using voice and text.
          </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button>Find Out More</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>
