<div fxLayout="row" fxLayoutAlign="start start" class="layout-container">
  <div fxFlex="5%" class="side-menu"></div>
  <div fxFlex="80%" fxFlex.xs="100%" class="register-main">
    <app-register-login></app-register-login>
  </div>
  <div fxFlex="15%" class="side-menu">
    <app-sidenav-list></app-sidenav-list>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" class="categories">
  <div fxFlex="100%" class="main">
    <app-categories></app-categories>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" class="categories">
  <div fxFlex="100%" class="main">
    <app-get-started></app-get-started>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start start" class="main">
  <div fxFlex="100%" class="main">
    <app-main-content></app-main-content>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" class="footer">
  <div fxFlex="100%" class="main">
    <app-footer></app-footer>
  </div>
</div>
