<div fxFlex="row wrap" class="category-container">
  <div fxLayout="column" class="header-container">
    <div class="three-dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="header-text">
      <h1>Coding might be the easiest way to change your career. <br>
          Learn to develop your own iOS and Android Apps.</h1>
    </div>
    <div class="subheader-text">
      <p>We’ll take you through the process to create a developer account for Android and iOS. <br>
        You will develop a real-world app and publish it on the app store:
        </p>
    </div>
  </div>
</div>
