<div class="get-container">
  <div fxLayout="column" class="header">
    <div  class="header-text">
      <h1>Learn to develop your own iOS and Android Apps</h1>
    </div>
    <div class="subheader-text">
      <p>
        You’ll benefit from the latest technology powered by the Amazon Web Services Public Cloud Platform. <br>
        All the code and applications interact with the AWS public cloud platform
      </p>
    </div>
    <div class="button-container">
      <button mat-stroked-button>Get Started</button>
    </div>
  </div>
</div>
